@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
    font-family: "CLTAbsans";
    src: url("/fonts/Absans-Regular.woff2") format("woff2");
    font-weight: normal; 
    font-style: normal;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /*font-family: "DM Sans", serif;*/
  font-family: "CLTAbsans", "sans-serif";
  cursor: default;
  background-color: #f5f5f5;
  color: #2b2826;
}
